/* NAVIGATION */

a {
  text-decoration: none;
}

header {
  width: 100%;
  border: 1px dotted black;
  background-color: yellow;
}

header::after {
  content: '';

}

header .container {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.container nav ul {
  margin: 0;
  padding: 0;
}

.container .logo-left a{
  width: 30%;
  float: left;
}

.container .nav-right{
  width: 70%;
  float: right;
}

.container .nav-right ul {
  float: right;
}

.container ul li {
  display: inline;
}

.nav-right ul li a {
  padding: 5px;
}

.nav-right ul li a:hover {
  background-color: blue;
}
.nav-right ul li a:active {
  background-color: blueviolet;
}

.router-link-active {
  color: darkgray;
  text-transform: uppercase;
  text-decoration-line: underline;
}
