<!-- <div id="home_page">
      
    <a href="https://github.com/Sorek92" ><img class="social_media_icon" src="../../assets/pictures/github_ico.png"></a>
    <a href="https://www.linkedin.com/in/dominik-sar-843280139"><img class="social_media_icon" src="../../assets/pictures/linkedln.png"></a>
    
    <img class="face" src="../../assets/pictures/face.png">
    
    <a href="http://www.facebook.com/dominik.sar.3"><img class="social_media_icon" src="../../assets/pictures/facebook_ico.png"></a>
    <a href="https://www.instagram.com/sardominik/"><img class="social_media_icon" src="../../assets/pictures/instagram_ico.png"></a>


</div> -->
