<div class="tree">
  <ul>
    <li>
      <button (click)="firstClick()"><img src="../../assets/pictures/dominik.jpg" width="100px"></button>
      <ul [class.draw]="showTree">
        <li><a href="/about/news">New technology</a></li>
        <li><a href="/about/games">Computer games</a></li>
        <li><a href="/about/skates">Skating</a></li>
        <li><a href="/about/guitar">Guitar play</a></li>
        <li><a href="/about/books">Read books</a></li>
        <li><a href="/about/cooking">Cooking</a></li>
        <li><a href="/about/draw">Drawing</a></li>
      </ul>
    </li>
  </ul>

</div>
