<div id="home_page">
  <div id="cloud">
      <div class="container">
        <nav >
          <ul>
            <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >about</a></li>
            <li><a [routerLink]="['/school']" routerLinkActive="router-link-active" >school</a></li>
            <li><a [routerLink]="['/experiance']" routerLinkActive="router-link-active" >experiance</a></li>
            <li><a [routerLink]="['/skills']" routerLinkActive="router-link-active" >skills</a></li>
            <li><a [routerLink]="['/projects']" routerLinkActive="router-link-active" >projects</a></li>
            <li><a [routerLink]="['/interests']" routerLinkActive="router-link-active" >interests</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >contact</a></li>
          </ul>
        </nav>
      </div>
  </div>




  <div id="face">
    <a href="https://github.com/Sorek92" ><img class="left_top_media" src="../../assets/pictures/github_ico.png"></a>
    <a href="https://www.linkedin.com/in/dominik-sar-843280139"><img class="left_bottom_media" src="../../assets/pictures/linkedln.png"></a>
    
    <img class="center_img" src="../../assets/pictures/face.png">
    
    <a href="http://www.facebook.com/dominik.sar.3"><img class="right_top_media" src="../../assets/pictures/facebook_ico.png"></a>
    <a href="https://www.instagram.com/sardominik/"><img class="right_bottom_media" src="../../assets/pictures/instagram_ico.png"></a>
    

  </div>

</div>
